%h1 Listing pod_libraries

%table
  %tr
    %th
    %th
    %th

  - @pod_libraries.each do |pod_library|
    %tr
      %td= link_to 'Show', pod_library
      %td= link_to 'Edit', edit_pod_library_path(pod_library)
      %td= link_to 'Destroy', pod_library, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pod library', new_pod_library_path
