@import 'foundation_and_overrides';
@import 'foundation-icons.css';

body{
  font-family: "GT Walsheim","gt_walsheim_regular","Avant Garde Gothic ITCW01Dm","Avant Garde","Helvetica Neue","Arial";
}

li{
  list-style:none;
}
.search-container{
  padding: 110px 0;
}

.results-container{
	padding: 20px 0 0 0 ;
  background-color: #e3e3e3;
}

.result{
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  .version{
    font-size: 20px;
  }
  .date{
    font-size: 15px;
  }
  .value{
    font-size: 20px;
    .num{
      font-size: 26px;
    }
  }
}

.attribute-section{
	overflow: hidden;
  margin-bottom: 10px;
  h2{
    font-weight: bold;
  }
  .attribute{
    float: left;
    margin: 0 60px 10px 0; 
  }
}


 
