@import 'foundation_and_overrides';
@import 'foundation-icons.css';


    	li{
    		list-style:none;
    	}
    	.results{
    		margin-top: 20px;
    	}
    	.attribute-section{
    		overflow: hidden;
    		margin-top: 20px;
    		padding: 0 10px;
	    }
		.attribute{
	    	float: left;
	    	margin-right: 20px;
	    }
