@charset "UTF-8";

@import 'compass';
@import 'foundation_and_overrides';
@import 'foundation-icons';

$layout-light-border: #e3e3e3;
$gray1: #9DA0A4;
$gray2: #6A6E71;
$gray3: #45494B;
$gray4: #24282A;
$lightgray1: #EBEDEF;
$lightgray2: #D7DBDF;
$lightergray1: #f5f5f5;
$blue1: #00A4BB;
$blue2: #006F8E;
$red1: #FF3333;
$red2: #F55B3E;
$green1: #6CC644;
$yellow1: #FED100;
$yellow2: #FFE675;
$bluegray1: #e8eff0;
$light-red: #FCC;


body{
  font-family: "GT Walsheim","gt_walsheim_regular","Avant Garde Gothic ITCW01Dm","Avant Garde","Helvetica Neue","Arial";
}

li{
  list-style:none;
}

.search-container{
  padding: 70px 0 0px;
  .sample {
    padding: 10px 0 20px;
    .query {
      padding-right: 10px;
    }
  }
}

.results-container{
	padding: 20px 0 0 0 ;
  // background-color: #e3e3e3;
  background-color: lighten(#66c8d6, 20%);
}

.sort-control {
  margin-bottom: 20px;
}

.result{
  background-color: white;
  padding: 10px;
  // margin-bottom: 20px;
  border: solid 1px $layout-light-border;
  margin-bottom: -1px;

  .title {
    h2 {
      line-height: 1;
    }
    line-height: 1;
    color: $gray3;
    .date {
      font-size: 70%;
    }
    padding-bottom: 10px;
  }
  .summary {
    padding-bottom: 20px;
    color: $gray2;
  }

  .stats {
    font-size: 80%;
    .key {
      color: $gray1;
      padding-bottom: 5px;
    }
    .value {
      color: $gray2;
    }
  }
  // .version{
  //   font-size: 20px;
  // }
  // .date{
  //   font-size: 15px;
  // }
  // .value{
  //   font-size: 20px;
  //   .num{
  //     font-size: 26px;
  //   }
  // }
}

// .attribute-section{
// 	overflow: hidden;
//   margin-bottom: 10px;
//   h2{
//     font-weight: bold;
//   }
//   .attribute{
//     float: left;
//     margin: 0 60px 10px 0;
//   }
// }
